*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    padding: 15px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: #51b64b;
    
}

ul{
    display: inline;
    color: #fff;
}

.un-ordered{
    margin-left: auto;
    display: flex;

}

.unordered{
    display: flex;

}
header{
    height: 35vh;
}

.bloga-div{
    margin: 50px;
    text-align: center;
    

}

body{
    
    font-family: 'Livvic', sans-serif;
    background-color: #fff;

}

.bloga{
    height: 100px;
}

.motto{
    font-style: italic;
    color: #424242;
    font-size: 20px;
    font-weight: bold;
}

section{
    background-color: ;
    /* height: 95vh; */
    padding: 50px;
    margin: 50px;
    background-color: #013444;
    border: 1px solid rgb(179, 170, 170);
    border-radius: 3px;
}

.latest-post{
    text-align: center;
    /* border-bottom: 2px solid white; */
    color: #fff;
}

.icons-div{
    display: flex;
    flex-direction: column;
}

.icon{
    font-size: 25px;
    color: #fff;
    width: 40px;
    text-align: center;
    margin-bottom: 10px;
    /* border-radius: 3px; */
    padding: 5px;
}

.icon-1{
    background-color: rgb(78, 78, 194);
}

.icon-2{
    background-color: rgb(84, 194, 228);
 
}

.icon-3{
    background-color: rgb(35, 187, 68);
 
}

.icon-4{
    background-color: rgb(84, 194, 228);
    
}

.icon-5{
    background-color: yellow;
 
}

.icon-6{
    background-color: red;
 
}

.jobs-ul{
    text-align: center;
    padding: 20px;
}

a{
    text-decoration: none;
    background-color: #eafded;

    padding: 12px;
    border-radius: 3px;

}

.jobs-li{
    margin: 15px;
    background-color: #eafded;
    padding: 12px;
    border-radius: 3px;
    color:  black;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;



}

.footer-div{
    display: flex;
}

.powered-by{
    /* margin-left: auto; */
    color: #000;;
}

.powered{
    color: #fff;

}

footer{
    padding: 50px;
    margin: 50px;
    background-color: #013444;
    border: 1px solid #ccc;



}

.bell{
    color: white;
    font-size: 25px;
    margin-left: 10px;
}

.newsletter{
    height: 30vh;
    background-color: #013444;
    padding: 25px;

}

.newsletter-div{
    text-align: center;
    color: #fff;

}
input[type="text"]{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid white;

}

button{
    padding: 10px;
    border-radius: 3px; 
    background-color: #51b64b;
    color: white;
    border: 1px solid #51b64b;
}

.subscribe-to{
    margin-bottom: 15px;
    font-size: 30px;
}

.get-email{
    margin-bottom: 15px;

}

.bell-1{
    color: white;
    font-size: 25px;
    margin-left: 10px;
}

.header-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #424242;
    /* padding: 15px; */

}

.header-li{
font-weight: bold;
list-style-type: circle;
margin-right: 15px;
list-style-position: inside;


}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #eee;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 15px;
    background-color: #eee;
    display: none;
    overflow: hidden;
    position: relative;
    color: #000;
    font-size: 13px;

  }

  .panel:after{
      display: flex;
      flex-direction: row;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .view-more{
      background-color: #2992d0;
      text-decoration: none;
      color: #fff;
      margin-top: 20px;
      position: absolute;
      right: 5px;
      bottom: 5px;
      font-size:13px;
      padding: 4px;
  }

  #containerdiv{
      color: #fff;
  }

  #comments-div{
    background-color: #fff;
    padding-left: 20px;
    border-radius: 5px;
    margin-top: 50px;
}

.margin-bottom{
    margin-bottom: 20px;
    color: #000;
}

.email, .name{
    margin-top: 10px;
}

#comments{
    margin-bottom: 20px;
    margin-top: 50px;
    /* background-color: #51b64b; */
    width: 14%;
    padding: 7px;
    border-radius: 3px;
    border-bottom: 3px solid #ccc;
}

.nav-a{
    color: #fff;
    background-color: #51b64b;
}

form{
    margin-top: 20px;
}

.add-comment{
    color: #fff;
    margin-bottom: 10px;

}

.name{
    margin-bottom: 6px;
}

.no-class{
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom:  8px;
    
}

textarea{
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom:  8px;
    margin-top: 8px;
    width: 32.5%;
}

.my-portfolio-2{
        width: 30px;

}

.my-portfolio{
    width: 500px;
    height: 250px;
    margin-bottom: 20px;
}   

.ico{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.ic{
    margin-top: 20px;
    font-size: 20px;
}

.icc{
/* float: right; */
font-size :20px;
/* margin-left: 15px; */
margin-right: 5px;
margin-top: 13px;

}

#containerdiv{
}

.vggleaf{
    width: 30px;
}

.footer-div-2{
    display: flex;
}

.user{
    font-size: 30px;
    background-color: #ccc;
    color: #eee;
    border-radius: 50%;
    margin-top: 15px;
    padding: 8px;
}

.paragraph{
    margin-right: 17px;
    color: #fff;
    margin-bottom: 20px;
}

.last-div{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.social-media-icons{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.to-left{
    margin-left: auto;
    margin-right: 10px;
}

.Buttons{
    margin-top: 15px;
    text-align: center;
}

#first, #previous, #next, #last{
    margin-right: 10px;
    cursor: pointer;

}

.btn::disabled{
    opacity: 65 !important;
}